:root{
  --background-body: rgba(0, 0, 0, 0.6);
  --border-color:  #222;
  --main-font-color: aliceblue;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('restaurant.jpeg');
}

p{
    font-family: Arial;
    font-size: 25px;
}

h2{
    font-family: sans-serif;
    font-style: italic;
    font-size: 30px;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid var(--border-color);
    background-color:  var(--background-body);
    color: var(--main-font-color);
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    background-color: var(--background-body);
    border-bottom: 1px solid var(--border-color);
    font-family: sans-serif;
    font-style: italic;
  }

  .navigation{
    display: flex;
    align-items: center;
    padding: 2rem;
    font-size: 30px;
    gap: 2rem;
    font-family: sans-serif;
    font-style: oblique;
    font-weight: bold;
  }

  .button-nav{
    background-color: transparent;
    padding: 2rem;
    font-size: 20px;
    border: #222;
    cursor: pointer;
    color: var(--main-font-color);
  }

  .title{
    font-size: 40px;
    color: var(--main-font-color);
  }

  .body-content{
    display: flex;
    background-color: var(--background-body);
    border: 1px solid var(--border-color);
    color: var(--main-font-color);
  }

  .home,
  .menu,
  .contact{
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  